#map {
  display: grid;
  grid-template-columns: repeat(30, 64px); /* 30 colonnes */
  grid-template-rows: repeat(20, 64px); /* 20 lignes */
  gap: 0; /* Aucun espace entre les cases */
  position: relative;
  width: fit-content; /* Ajuste la taille du conteneur à la grille */
  margin: 0 auto; /* Centrer la grille sur la page */
  border: 2px solid #000; /* Ajout d'une bordure pour visualiser la grille */
}

.tile {
  width: 64px;
  height: 64px;
  background-size: cover; /* Adapte l'image à la taille de la case */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat;
}

.factory {
  background-color: transparent;
  background-image: url("/rsc/sprites/map/factory.svg");
}

.city {
  background-image: url("/rsc/sprites/map/city.svg");
}

.grass {
  background-color: #7cfc00;
}

.road {
  background-color: #474747;
}

.bridge {
  background-color: #939393;
}

.river {
  background-color: blue;
}

/* Menu */

.footer-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  color: white;
  text-align: center;
  line-height: 50px;
  transition: transform 0.3s ease;
}

/* Le chevron pour contrôler */
.toggle-footer {
  display: flex;
  position: fixed;
  bottom: 30%;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.toggle-footer svg {
  width: 20px;
  height: 20px;
  fill: white;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

input[type="checkbox"] {
  transition: transform 0.2s ease;
  display: none;
}

/* Animation pour le footer */
input[type="checkbox"]:checked ~ .footer {
  transition: transform 0.2s ease;
  transform: translateY(100%);
}

/* Animation pour le chevron */
input[type="checkbox"]:checked + .toggle-footer img {
  transition: transform 0.2s ease;
  transform: rotate(180deg);
}

#city {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-bottom: 20px;
  overflow: auto;

}

.shop {
display: block;
  border-radius: 25px;
  border-color: white;
  background-color: #474747;
  flex: content 1 auto;
  margin-right: 20px;
  padding: 20px;
  overflow: auto;
  align-items: left;
}

.shop-description {
  border-radius: 25px;
  border-color: white;
  border-width: 2px;
  background-color: #474747;
  flex: 1 1 auto;
  margin-right: 20px;
  overflow: scroll;
  justify-content: start
}
