* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* ___________________Map______________________ */

#map {
  display: grid;
  grid-template-columns: repeat(30, 64px);
  grid-template-rows: repeat(20, 64px);
  position: relative;
  width: fit-content;
  border: 4px solid black;
}

.tile {
  width: 64px;
  height: 64px;
  background-size: cover; /* Adapte l'image à la taille de la case */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat;
}

.factory {
  background-image: url("/rsc/sprites/map/factory.svg");
}

.city {
  background-image: url("/rsc/sprites/map/city.svg");
}

.grass {
  background-color: #7cfc00;
}

.road {
  background-color: #474747;
}

.bridge {
  background-color: #939393;
}

.river {
  background-color: blue;
}

/* ___________________Menu______________________ */

.footer-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15rem;
  color: white;
  text-align: left;
  transition: transform 0.3s ease;
}

/*Bouton toggle footer*/
.toggle-footer {
  display: flex;
  position: fixed;
  bottom: 17rem;
  right: 20px;
  background-color: #007bff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.toggle-footer svg {
  width: 20px;
  height: 20px;
  fill: white;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

input[type="checkbox"] {
  transition: transform 0.2s ease;
  display: none;
}

/* Animation pour le footer */
input[type="checkbox"]:checked ~ .footer {
  transition: transform 0.2s ease;
  transform: translateY(100%);
}

/* Animation pour le bouton */
input[type="checkbox"]:checked + .toggle-footer {
  bottom: 30px;
  transition: transform 0.2s ease;
  transform: rotate(180deg);
}

.section_name {
  position: absolute;
  pointer-events: none;
  color: rgb(183, 182, 182);
  top: 10px;
}

#footer-container {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-bottom: 10px;
  overflow: auto;
}

.footer-section {
  display: flex;
  border-radius: 20px;
  border: 2px solid white;
  background-color: #474747;
  margin-right: 10px;
  padding: 15px;
  padding-top: 35px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  box-sizing: content-box;
}

.entity-display {
  flex: content 1 auto;
}

.factory-display {
  flex: content 1 auto;
}

.options-list {
  flex: content 1 auto;
  padding-right: 10px;
}

.description {
  flex: 1 1 auto;
  align-items: start;
  line-height: normal;
}

.description ul img {
  width: 28px; 
  height: 28px;
  vertical-align: middle;
}


.scroll-content {
  max-height: 100%;
  overflow-y: auto; 
  overflow-x: hidden; 
  box-sizing: border-box;
  scrollbar-color: grey transparent;
}

.scroll-content a {
  color: white;
  text-decoration: none;
  padding-right: 30px;
  display: inline-flex; 
  gap: 10px;
  align-items: center; 
  margin-bottom: 10px;

}

.scroll-content a:hover {
  color: red;
}

.scroll-content a img {
  width: 32px; 
  height: 32px;
  vertical-align: middle;
}